body {
	color: white;
	background: #202731;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 0;
}

h1 {
	font-weight: bold;
	font-size: 50px;
}

@keyframes to90perc {
	0% {
		transform: scale(100%);
	}

	30% {
		transform: scale(100%);
	}

	100% {
		transform: scale(90%);
	}
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 400px;
	padding: 30px 20vw;
	transform: scale(90%);
	transition: 500ms;
	animation: 1s ease-out 0s 1 to90perc;
}

section:hover {
	transition: 500ms;
	transform: scale(95%);
}

.color-1 {
	background: #07B3B3;
}

.color-2 {
	background: #216161;
}

.color-3 {
	background: #034747;
}

.color-4 {
	background: #329494;
}

.color-5 {
	background: #09E0E0;
}

.menu {
	background-color: white;
	fill: white;
	color: black;
}

a:visited {
	text-decoration: none;
}