/* === BODY === */

body {
    color: white;
    background: url("../res/htop.png");
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
}

/* ==================== */

/* === SECTIONS === */

.color-1 {
    background-color: rgba(0, 191, 0, 0.9);
}

.color-2 {
    background-color: rgba(0, 140, 0, 0.9);
}

.color-3 {
    background-color: rgba(19, 64, 19, 0.9);
}

.color-4 {
    background-color: rgba(61, 202, 61, 0.9);
}

.color-5 {
    background-color: rgba(0, 0, 0, 0.9);
}

/* ==================== */

/* === FOOTER === */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    column-gap: 20px;
}

p {
    color: white;
    text-align: center;
    transition: 300ms;
}

#img-test {
    width: 75px;
    height: 75px;
    transition: .7s;
}

#img-test:hover {
    transform: scale(115%);
}

/* ==================== */

/* .color-1 {
    background: #FFA500;
}

.color-2 {
    background: #F7BA4A;
}

.color-3 {
    background: #F59F00;
}

.color-4 {
    background: #755923;
}

.color-5 {
    background: #C27E00;
} */