/* === BODY === */
body {
	background-color: #3d4245;
	text-align: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	color: #e8e6e3;
	margin: 0px;
	position: relative;
}

/* ==================== */

/* === HEADER === */

header {
	height: 100px;
	background-color: #343536;
	font-size: 30px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 64px;
	height: 64px;
	margin: 0px 25px;
}

/* -------------------- */

/* === H1 & PARAGRAPH ON TOP ===*/

.h1Txt {
	font-size: 50px;
}

.pTxt {
	font-size: 25px;
}

/* -------------------- */

/* === CARDS ===*/

.cards-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-div {
	width: 480px;
	height: 500px;
	margin-left: 150px;
	margin-right: 150px;
}

.card {
	display: flex;
	flex: 1 0 0%;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	background-clip: border-box;
	transform: scale(100%);
	transition: 300ms;
}

.card:hover {
	transition: 300ms;
	box-shadow: 5px 7px 10px 2px rgb(177, 177, 177);
	transform: scale(110%);
}

/* .invisible-link {
	text-decoration: none;   INUTILIZZATO
	color: inherit;
} */

.img {
	max-width: 100%;
	max-height: 100%;
}

#cybersecImg {
	text-align: left;
}

#tuxImg {
	box-shadow: inset 4px 3px 8px 1px #000;
	text-align: left;
}

.card-body-txt {
	margin-top: -4px;
}

.card-body-cyber {
	width: 480px;
	text-align: left;
	background-color: #1b4958;
	/* #1b4958 */
}

.card-body-linux {
	width: 480px;
	text-align: left;
	background-color: #687001;
	/* rgb(237, 253, 89) */
}

#card-title {
	font-size: 30px;
	margin-left: 10px;
}

#card-txtBody {	
	font-size: 20px;
	margin-left: 10px;
}

/* -------------------- */

/* === FOOTER === */

.sugiù {
	color: white;
}

/* -------------------- */