/* === BODY === */
body {
    background-color: #3d4245;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #e8e6e3;
    margin: 0px;
    position: relative;
}

/* ==================== */

/* === HEADER === */

header {
    width: inherit;
    height: 100px;
    background-color: #343536;
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 64px;
    height: 64px;
    margin: 0px 25px;
}

/* -------------------- */

/* === H1 & PARAGRAPH ON TOP ===*/

.h1Txt {
    font-size: 50px;
}

.pTxt {
    font-size: 25px;
}

/* -------------------- */

/* === CARDS ===*/
@media (max-width: 1000px) {
    .cards-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin-top: 15vw;
        margin-bottom: 15vw;
        height: 100%;
    }
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    height: 100%;
}

.card-div {
    width: 480px;
    height: 500px;
    margin: 20px 150px;
}

.card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-clip: border-box;
    transform: scale(100%);
    transition: 300ms;
}

.card:hover {
    transform: scale(110%);
    box-shadow: 5px 7px 10px 2px rgb(177, 177, 177);
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: 300ms;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

#cybersecImg {
    text-align: left;
}

#tuxImg {
    box-shadow: inset 4px 3px 8px 1px #000;
    text-align: left;
}

.card-body-txt {
    min-width: 300px;
    margin-top: -4px;
}

.card-body-cyber {
    width: 480px;
    text-align: left;
    background-color: #1b4958;
    /* #1b4958 */
}

.card-body-linux {
    width: 480px;
    text-align: left;
    background-color: #687001;
    /* rgb(237, 253, 89) */
}

#card-title {
    font-size: 30px;
    margin-left: 10px;
}

#card-txtBody {	
    font-size: 20px;
    margin-left: 10px;
}

/* -------------------- */

/* === COOKIES === */


/* === FOOTER === */
@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cookie {
    position: fixed;
    opacity: 0;
    bottom: 0;
    width: 100%;
    background: black;
    padding-bottom: 15px;
    animation: 2s ease 500ms 1 fadeInAnim forwards;
}

/* -------------------- */
footer {
    width: 100%;
    color: white;
}

/* -------------------- */