body {
	background-color: #bbbfbc;
	text-align: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	/* background-image: linear-gradient(to left, white, white 50%, black, black50%); */
	/* background-color: #181a1b; */
	/* color: antiquewhite; */
}

.kubuntu {
	width: 64px;
	height: 64px;
	margin: 0px 25px;
}

.header {
	height: 100px;
	background-color: #343536;
	font-size: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sugiù {
	color: white;
}

.invisible-link {
	text-decoration: none;
	color: inherit;
}

.h1Txt {
	font-size: 50px;
}

.pTxt {
	font-size: 25px;
}

.cards-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-div {
	width: 480px;
	height: 500px;
	margin-left: 150px;
	margin-right: 150px;
}

.card {
	display: flex;
	flex: 1 0 0%;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	background-clip: border-box;
	transform: scale(100%);
	transition: 300ms;
}

.card:hover {
	transition: 300ms;
	box-shadow: 5px 7px 10px 2px rgb(177, 177, 177);
	transform: scale(110%);
}

.card-body-cyber {
	width: 480px;
	text-align: left;
	background-color: lightblue;
}

.card-body-linux {
	width: 480px;
	text-align: left;
	background-color: rgb(237, 253, 89);
}

#card-title {
	font-size: 30px;
	margin-left: 10px;
}

#card-txtBody {	
	font-size: 20px;
	margin-left: 10px;
}

.img {
	max-width: 100%;
	max-height: 110%;
}

#cybersecImg {
	text-align: left;
}

#tuxImg {
	box-shadow: inset 4px 3px 8px 1px #000;
	text-align: left;
}

#card-text {
	text-align: left;
}

.footer {
	height: 100px;
	font-size: 30px;
	background-color: #343536;
	display: flex;
	align-items: center;
	justify-content: center;
}