body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.div-input {
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.input-form {
    border: 3.5px solid lightblue;
}

.quest-label {
    width: auto;
    height: 25px;
    background-color: #E7E9EB;
    display: block;
    position: relative;
    text-align: start;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 300ms;
}

.quest-label:hover {
    background-color: lightblue;
}